.colorMorado:hover {
  color: #ba68c8 !important;
  font-weight: 520;
}

.sombraBotones {
  background-color: #fff;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.sombraContenedores {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
