.login-background {
    background-image: url("../assets/fondoLogin.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 75vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.card {
    border-radius: 10px;
    background-color: rgba(
      255,
      255,
      255,
      0.6
    ); 
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

.imgLogin{
    width: 100px;
    height: 100px;
  }
  
.text-underline {
    text-decoration: underline;
}

.btnEnviar:hover{
    color: #BA68C8 !important;
    font-weight: 650;
}